@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

.Main-Card {
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 5px;
}

.Poster {
    height: 355px;
    max-width: 100%;
    border: 0.002px white solid;
    transform: 0.3s;
    border-radius: 5px;
}
.Main-Card:hover {
    padding-bottom: 0;
}
.Poster:hover {
    position: relative;
    height: 357px;
    opacity: 80%;
}

.Movie-Title {
    width: 100%;
    font-size: 17px;
    padding: 8px 0;
    text-align: center;
}

.movie-infos {
    padding: 15px 0;
}
.movie-title {
    margin: 0;
    font-size: large;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Montserrat";
    padding: 0;
}

.movie-voting {
    position: absolute;
    right: 25px;
    top: 5px;
    background-color: #0f1014;
    border: 1px solid gray;
    padding: 10px;
    font-size: 12px;
    border-radius: 25px;
}
@media screen and (max-width: 950px) {
    .movie-voting {
        right: 3.5%;
    }
}
@media screen and (max-width: 560px) {
    .movie-voting {
        right: 20.981%;
    }
    .Poster {
        height: 250px;
    }
    .Poster:hover {
        position: relative;
        height: 252px;
    }
}
@media screen and (max-width: 480px) {
    .movie-voting {
        right: 5%;
    }
}
