@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&family=Roboto:wght@400;500;700&display=swap");

.footer {
    background: #000;
    padding: 2px 0px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 0.5% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
    font-size: 1.1em;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row a {
    width: 30px;

    margin-left: 3px;
    margin-right: 3px;
}
.footer .row a i {
    width: 30px;
    height: 9px;
}

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }
    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }
    .footer .row a i {
        margin: 0% 3%;
    }
}
@media (max-width: 650px) {
    #row1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #row2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
