@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

.HomePage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.35)),
        url("../images/wallpaper.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #0f1014;
}
.HomeSearch {
    margin-top: 20vh;
}
.genreHeader {
    color: #fff !important;
    text-align: center;
    font-family: "Montserrat";
    margin-top: 100px;
}
.buttonGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 0px !important;
    padding-bottom: 20px;
    width: 60%;
    margin-bottom: 6.5vh;
    transform: 0.2s all;
}

.HomeFooter {
    position: "fixed";
    left: 0;
    bottom: 0;
    right: 0;
}

.genreTagON {
    padding: 10px 20px;
    color: black !important;
    background-color: #edf2f4;
    border-radius: 20px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    margin: 4px 5px;
}
.genreTagON:hover {
    background-color: #adb5bd !important;
}
.genreTagOFF {
    color: #fff !important;
    padding: 10px 20px;
    background-color: #ef233c;
    border-radius: 20px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    margin: 4px 5px;
}
.genreTagOFF:hover {
    background-color: #a4161a !important;
}
.container-fluid {
    padding: 0;
}
i {
    padding-left: 4px;
}
.HomeMovies {
    width: 100%;
    background-color: #0f1014;
    margin-top: 0;
    padding-top: 30px;
}
.HomeMovieGrid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 560px) {
    .HomePage {
        height: 100%;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.35)
            ),
            url("../images/wallpaper2.jpg");
        background-size: cover;
        background-color: #0f1014;
    }
}
@media screen and (max-width: 1080px) {
    .HomeMovieGrid {
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 900px) {
    .HomeMovieGrid {
        gap: 12px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 770px) {
    .HomeMovieGrid {
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .genreHeader {
        font-size: 20px;
    }
    .genreTagOFF {
        font-size: 14px;
        padding: 5px 10px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .genreTagON {
        font-size: 14px;
        padding: 5px 10px;
        margin-left: 2px;
        margin-right: 2px;
        margin: 3px 5px;
    }
}

@media screen and (max-width: 560px) {
    .HomeMovieGrid {
        gap: 9px;
        grid-template-columns: 1fr 1fr;
    }
}
