.HomePage {
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.HomeFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.HomeSearch {
    margin-top: 20vh;
}

@media screen and (max-width: 560px) {
    .HomePage {
        background-size: cover;
    }
}
