@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
.logo {
    width: 130px;
    height: 55.59px;
    margin-top: 4px;
    margin-bottom: 15px;
    margin-left: 10px;
}
@keyframes bouncy {
    0% {
        top: 0em;
    }
    40% {
        top: 0em;
    }
    43% {
        top: -0.9em;
    }
    46% {
        top: 0em;
    }
    48% {
        top: -0.4em;
    }
    50% {
        top: 0em;
    }
    100% {
        top: 0em;
    }
}
.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}

.header-btn1 {
    margin-top: 15px;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 0.3em;
    float: right;
    font-weight: 600;
    padding: 5px 15px;
    background: #d62828;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.header-btn2 {
    background-color: transparent;
}

.header {
    height: 10%;
    margin-bottom: 10px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

@media (max-width: 650px) {
    .logo {
        width: 120px;
    }
    .header-btn1 {
        padding: 4px 10px;
    }
}
@media (max-width: 450px) {
    .logo {
        margin-top: 8px;
        width: 100px;
        height: 45px;
    }
    .header-btn1 {
        padding: 3px 8px;
        font-size: small;
        margin-top: 18px;
    }
}
