@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&family=Roboto:wght@400;500;700&display=swap");
.movie-details {
    margin-top: 3%;
    font-family: "Montserrat", sans-serif;
}
.overveiwContent {
    font-size: medium;
}
.left-box {
    color: #fff !important;
    margin: 15px 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}
.casting {
    transition: width 0.5s, height 0.5s;
    text-decoration: none;
}
.casting a {
    text-decoration: none;
}

.casting img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 35px;
    transition: width 0.5s, height 0.5s;
}
.topTitle-Movie {
    font-weight: 700;
}
.casting img:hover {
    height: 80px;
    width: 80px;
}
.main-img {
    height: 420px;
    box-shadow: -4px 4px 5px 0 #000;
}

.recommendedMovies {
    width: 100%;
    background-color: #0f1014;
    margin-top: 4.5%;
}
.RecommendHeading {
    color: #fff;
    font-family: "Montserrat";
    padding-left: 15px;
    margin-bottom: 20px;
}

.trailer-bttn {
    margin-top: 15px;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 0.4em;
    cursor: pointer;

    font-weight: 400;
    padding: 4px 9px;
    background: #3a86ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border-color: #3a86ff !important;
    transition: width 0.2s, height 0.2s;
}
.overveiwContent {
    font-size: 5vw;
}

.youtube-container {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.trailer-bttn:hover {
    padding: 5px 12px;
}
.recommendedGrid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.MainBackGround {
    background-size: contain;
}
.close-bttn {
    z-index: 100;
    margin-top: 15px;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 0.4em;
    cursor: pointer;

    font-weight: 400;
    padding: 4px 9px;
    background: #3a86ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border-color: #3a86ff !important;
    transition: width 0.2s, height 0.2s;
}
.close-bttn:hover {
    padding: 5px 12px;
}
.trailerContainer {
    position: relative;
}
.DisplayOn {
    display: flex;
    justify-content: center;
}
.DisplayOFF {
    display: none;
}
@media screen and (max-width: 1080px) {
    .recommendedGrid {
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .MainBackGround {
        background-size: auto;
    }
}
@media screen and (max-width: 900px) {
    .recommendedGrid {
        gap: 12px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main-img {
        height: 360px;
    }
}

@media screen and (max-width: 770px) {
    .recommendedGrid {
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .main-img {
        height: 300px;
    }
    .row {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 560px) {
    .recommendedGrid {
        gap: 9px;
        grid-template-columns: 1fr 1fr;
    }
    .main-img {
        height: 280px;
    }
    .movie-details {
        font-size: 14px;
    }
    .MainBackGround {
        background-size: cover;
    }
    .casting img:hover {
        height: 55px;
        width: 55px;
    }
}
