/* .App {
    width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("./images/wallpaper.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
} */
